<div class="relative w-full h-screen">
  <!-- Background -->
  <div class="h-full max-w-[80vw] bg-gradient-to-r from-blue-900 to-blue-500">
  </div>

  <!-- Content -->
<!--<div class="min-h-screen max-w-[80vw] bg-gradient-to-r from-blue-900 to-blue-500 content-center cont">-->

<!--</div>-->
  <div class="absolute inset-0 flex flex-wrap items-center justify-center">
<!--    <div class="absolute inset-0 max-h-[10%] w-full flex bg-red-300">Test</div>-->
    <div class="container header">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item test"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item test"><a href="#" class="nav-link">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>
    <div class="w-[80vw]  p-8 rounded-lg">
      <div class="flex items-center justify-between">
        <!-- Left Side - Image and Contact Info -->
        <div class="text-white space-y-8">
          <img src="/doctor.jpg" alt="Healthcare Professional" class="w-80">
        </div>

        <!-- Right Side - Login Form -->
        <login-form />
      </div>
    </div>
  </div>
</div>
