<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <button class="bg-blue-100 hover:bg-blue-200 text-blue-800 p-4 rounded-lg shadow flex flex-col items-center justify-center" (click)=enableAppointmentMode()>
    <svg class="w-10 h-10 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"></path>
    </svg>
    <span>Schedule Appointment</span>
  </button>

  <!--          <button class="bg-blue-100 hover:bg-blue-200 text-blue-800 p-4 rounded-lg shadow flex flex-col items-center justify-center">-->
  <!--            <svg class="w-10 h-10 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">-->
  <!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path>-->
  <!--            </svg>-->
  <!--            <span>Message Doctor</span>-->
  <!--          </button>-->

  <!--          <button class="bg-blue-100 hover:bg-blue-200 text-blue-800 p-4 rounded-lg shadow flex flex-col items-center justify-center">-->
  <!--            <svg class="w-10 h-10 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">-->
  <!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>-->
  <!--            </svg>-->
  <!--            <span>Prescription Refill</span>-->
  <!--          </button>-->
</div>
